<div id="wrapper">
    <!-- Navigation -->
       <app-navbar></app-navbar>
       <div id="page-wrapper">
       <div class="graphs">
        <div class="md">
            <h3>Product Activation</h3>
        <div class="form-group">
            <div *ngIf="showSuccess" class="alert alert-success alert-dismissible show" role="alert">
                <strong>Hurray!</strong> Your activation key is <span>{{activationKey}}</span>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
            <div class="row">
                <div class="col-md-4 grid_box1">
                    <select (change)=onChange($event)>
                        <option value="1">Activate Directly from balance</option>
                        <option value="2">Activate With Pin</option>
                    </select>
                </div>
            </div>
            <div style="margin-bottom: 10px;" *ngIf="activationType=='2'" class="row">
                <div class="col-md-4 grid_box1">
                    <input (keyup)="onPinKey($event)" type="text" class="form-control1" placeholder="Enter Pin">
                </div>
            </div>

           <div class="row">
               <div class="col-md-4 grid_box1">
                   <input (keyup)="onKey($event)" type="text" class="form-control1" placeholder="Product Key">
               </div>
               <div class="clearfix"> </div>
           </div>
           <div style="margin-top: 10px;" class="row">
            <button [disabled]="isLoading" (click)="onClick()"  type="submit" class="btn btn-warning warning_33">{{btnText}}</button>
            </div>
        </div>
           </div>
        <div class="content_bottom">
       <div class="clearfix"> </div>
       </div>
       <app-footer></app-footer>
       </div>
      </div>
     <!-- /#page-wrapper -->
  </div>
