<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand">Virtual Science Lab</a>
        <button style="height: 45px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><span class="badge"><i style="font-size: 18px;" class="fa fa-user" aria-hidden="true"></i></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-header text-center">
                    <strong>Account</strong>
                </li>
                <li class="m_2"><a (click)="profile()"><i class="fa fa-user"></i> Profile</a></li>
                <li class="m_2"><a><i class="fa fa-bell-o"></i>Updates <span class="label label-info">42</span></a></li>
                <li (click)="logout()" class="m_2"><a><i class="fa fa-lock"></i>Logout</a></li>
                <li class="dropdown-menu-header text-center">
                    <strong>Settings</strong>
                </li>
                <!-- <li class="m_2"><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li class="m_2"><a href="#"><i class="fa fa-wrench"></i> Settings</a></li>
                <li class="m_2"><a href="#"><i class="fa fa-usd"></i> Payments <span class="label label-default">42</span></a></li>
                <li class="m_2"><a href="#"><i class="fa fa-file"></i> Projects <span class="label label-primary">42</span></a></li> -->
            </ul>
          </li>
    </ul>
    <div class="navbar-header profile-name">
        <a routerLink="/profile" class="navbar-brand first-name">{{'Welcome  ' + firstName}}</a>
    </div>
    <app-sidebar></app-sidebar>
</nav>
