<div id="wrapper">
    <!-- Navigation -->
       <app-navbar></app-navbar>
       <div id="page-wrapper">
       <div class="graphs">
        <div class="col_3">
           <div class="col-md-3 widget widget1">
               <div class="r3_counter_box">
                   <i class="pull-left fa fa-graduation-cap icon-rounded" aria-hidden="true"></i>
                   <div class="stats">
                     <h5><strong>{{schoolCount}}</strong></h5>
                     <span>Schools</span>
                   </div>
               </div>
           </div>
           <div class="col-md-3 widget widget1">
               <div class="r3_counter_box">
                   <i class="pull-left fa fa-thumb-tack user1 icon-rounded"></i>
                   <div class="stats">
                     <h5><strong>{{pinsCount}}</strong></h5>
                     <span>Pins Generated</span>
                   </div>
               </div>
           </div>
           <div class="col-md-3 widget widget1">
               <div class="r3_counter_box">
                   <i class="pull-left fa fa-comment user2 icon-rounded"></i>
                   <div class="stats">
                     <h5><strong>{{activatedCount}}</strong></h5>
                     <span>Pins Activated</span>
                   </div>
               </div>
           </div>
           <div class="col-md-3 widget">
               <div class="r3_counter_box">
                   <i class="pull-left fa fa-money dollar1 icon-rounded"></i>
                   <div class="stats">
                     <h5><strong>{{'₦' + ' ' + balance}}</strong></h5>
                     <span>Balance</span>
                   </div>
               </div>
            </div>
           <div class="clearfix"> </div>
     </div>
   <div class="content_bottom">
    <h4>Last 10 Transactions</h4>
    <div class="col-md-12 span_3">
         <div class="bs-example1" data-example-id="contextual-table">
           <table class="table">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Date</th>
                 <th>Transaction</th>
                 <th>Credit</th>
                 <th>Debit</th>
                 <th>Balance</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let transaction of transactions" class="{{getClass(transaction)}}">
                 <th scope="row">{{transaction.pos}}</th>
                 <td>{{transaction.date_created}}</td>
                 <td>{{transaction.transaction}}</td>
                 <td>{{transaction.credit}}</td>
                 <td>{{transaction.debit}}</td>
                 <td>{{transaction.balance}}</td>
               </tr>
             </tbody>
           </table>
           <div *ngIf="isEmpty" style="text-align: center;font-weight: 700;">You have not made any transactions</div>
          </div>
      </div>
       <div class="clearfix"> </div>
       </div>
       <app-footer></app-footer>
       </div>
      </div>
     <!-- /#page-wrapper -->
  </div>
