<div class="login-body">
<div class="login-logo">
    <h2>Mavinhub</h2>
  </div>  
    <div class="apply-gd-right col-lg-6 mt-lg-0 mt-5">
      <div class="apply-form p-sm-5 p-4">
        <h5>Reseller Login</h5>
        <div *ngIf="errorMessage" style = 'height: 50px; display: flex; align-items: center;padding: 5px !important' class = 'alert alert-danger'>
          <span style="margin-right: 5px;" class = 'fa fa-exclamation-circle'></span>
          <span>{{errorMessage}}</span>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
                    <input formControlName="email" type="email" class="form-control" placeholder="Email*" required="">
                </div>
                        
                  <div style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
                            <input formControlName="password" type="password" class="form-control" placeholder="Password*" required="">
                        </div>
          <button [disabled]="isLoading" type="submit" class="btn btn-primary submit ">Login Now</button>
                    </form>
                    <div class="account-d">Don't have an account? <a routerLink="/signup">Sign Up</a></div>
                    <div class="account-d"><a routerLink="/forgotpassword">Forgot Password?</a></div>
      </div>
    
  </div>
</div>
