<div [ngStyle]="{'height': scrHeight}" class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a [ngClass]="{'current': currentTab == 1}" (click)="setHighlight(1)" style="color: #fff" routerLink="/dashboard"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
            </li>
            <li>
                <a [ngClass]="{'current': currentTab == 2}" (click)="setHighlight(2)" style="color: #fff" routerLink="/generate-pin"><i class="fa fa-thumb-tack nav_icon"></i> Generate Pin</a>
                <a [ngClass]="{'current': currentTab == 3}" (click)="setHighlight(3)" style="color: #fff" routerLink="/pins"><i class="fa fa-history nav_icon"></i>Pin History</a>
            </li>
            <li>
                <a [ngClass]="{'current': currentTab == 4}" (click)="setHighlight(4)" style="color: #fff" routerLink="/activate"><i class="fa fa-envelope nav_icon" aria-hidden="true"></i>Product Activation</a>
                <a [ngClass]="{'current': currentTab == 5}" (click)="setHighlight(5)" style="color: #fff" routerLink="/activation-keys"><i class="fa fa-history nav_icon"></i>Activation History</a>
            </li>
            <li>
                <a [ngClass]="{'current': currentTab == 6}" (click)="setHighlight(6)" style="color: #fff" routerLink="/transfers"><i class="fa fa-exchange"></i>   Transfer</a>
                <a [ngClass]="{'current': currentTab == 7}" (click)="setHighlight(7)" style="color: #fff" routerLink="/deposit"><i class="fa fa-credit-card"></i>  Deposit</a>
                <a [ngClass]="{'current': currentTab == 8}" (click)="setHighlight(8)" style="color: #fff" routerLink="/transactions"><i class="fa fa-list"></i>    Transaction List</a>
                <a [ngClass]="{'current': currentTab == 9}" (click)="setHighlight(9)" style="color: #fff" routerLink="/sales-outlet"><i class="fa fa-map-marker"></i>    Sales Outlet</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
