<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a routerLink="/"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
            </li>
            <li>
                <a href="#">Pins</a>
                <a style="color: #fff" routerLink="/generate-pin"><i class="fa fa-thumb-tack nav_icon"></i> Generate Pin</a>
                <a style="color: #fff" routerLink="/pins"><i class="fa fa-history nav_icon"></i>Pin History</a>
            </li>
            <li>
                <a href="#">Activations</a>
                <a style="color: #fff" routerLink="/activate"><i class="fa fa-product-hunt nav_icon"></i>Product Activation</a>
                <a style="color: #fff" routerLink="/activation-keys"><i class="fa fa-history nav_icon"></i>Activation History</a>
            </li>
             <li>
                <a href="#">Schools</a>
                <a style="color: #fff" routerLink="/add-school"><i class="fa fa-check-square-o nav_icon"></i>Add School</a>
                <a style="color: #fff" routerLink="/schools"><i class="fa fa-check-square-o nav_icon"></i>My Schools</a>
                <a style="color: #fff" routerLink="/teachers"><i class="fa fa-check-square-o nav_icon"></i>Teachers</a>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#">Transactions</a>
                <a style="color: #fff" routerLink="/transfers"><i class="fa fa-sitemap fa-fw nav_icon"></i>Transfer</a>
                <a style="color: #fff" routerLink="/deposit"><i class="fa fa-sitemap fa-fw nav_icon"></i>Deposit</a>
                <a style="color: #fff" routerLink="/transactions"><i class="fa fa-sitemap fa-fw nav_icon"></i>Transaction List</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
