<div class="login-body">
  <div class="login-logo">
    <h2>Mavinhub</h2>
  </div>
  <div class="apply-gd-right col-lg-6 mt-lg-0 mt-5">
    <div class="apply-form p-sm-5 p-4">
      <h5>Reseller Registration</h5>
      <!-- <div *ngIf="isError" style = 'padding: 5px !important' class = 'alert alert-danger'>
        <span class = 'fa fa-exclamation-circle'></span>
        <span>{{errorMessage}}</span>
      </div> -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="admission-form">
          <div class="form-group">
            <input [ngClass]="[ errorMessage.firstName ? 'error' : '']" formControlName="firstName" type="text" class="form-control" placeholder="First Name*" required>
            <span style="color: red; font-style: oblique; font-size: 14px;"  *ngIf="errorMessage.firstName">{{errorMessage.firstName}}</span>
          </div>
          <div style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
            <input [ngClass]="[ errorMessage.lastName ? 'error' : '']" formControlName="lastName" type="text" class="form-control" placeholder="Last Name*" required="">
            <span style="color: red; font-style: oblique; font-size: 14px;"  *ngIf="errorMessage.lastName">{{errorMessage.lastName}}</span>
          </div>
        </div>

                      <div style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
          <input [ngClass]="[ errorMessage.email ? 'error' : '']" formControlName="email" type="email" class="form-control" placeholder="Email*" required="">
          <span style="color: red; font-style: oblique; font-size: 14px;" *ngIf="errorMessage.email">{{errorMessage.email}}</span>
                      </div>

                      <div style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
          <input [ngClass]="[ errorMessage.password ? 'error' : '']" formControlName="password" type="password" class="form-control" placeholder="Password" required="">
          <span style="color: red; font-style: oblique; font-size: 14px;"  *ngIf="errorMessage.password">{{errorMessage.password}}</span>
                      </div>
        <button type="submit" class="btn btn-primary submit" [disabled]="loading">{{buttonText}}</button>
                  </form>
                  <div class="account-d">Already have an account? <a routerLink="/">Login</a></div>
    </div>
  </div>
</div>