<div class="login-body">
    <div class="login-logo">
        <h2>Mavinhub</h2>
      </div>  
        <div class="apply-gd-right col-lg-6 mt-lg-0 mt-5">
          <div class="apply-form p-sm-5 p-4">
            <h5>{{mainText}}</h5>
            <div *ngIf="errorMessage" style = 'height: 50px; display: flex; align-items: center;padding: 5px !important' class = 'alert alert-danger'>
              <span style="margin-right: 5px;" class = 'fa fa-exclamation-circle'></span>
              <span>{{errorMessage}}</span>
            </div>
            <div *ngIf="message" style = 'height: 50px; display: flex; align-items: center;padding: 5px !important' class = 'alert alert-success'>
                <span style="margin-right: 5px;" class = 'fa fa-exclamation-circle'></span>
                <span>{{message}}</span>
              </div>
                <div *ngIf="!showToken" style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
                        <input (keyup)="onEmailKey($event)"  type="email" class="form-control" placeholder="Registered Email*" required="">
                </div>
                            
                <div *ngIf="showToken" class="token" style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
                    <input (keyup)="onTokenKey($event)" type="text" class="form-control" placeholder="Code*" required="">
                </div>
                <div *ngIf="showToken" class="token" style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
                    <input (keyup)="onPasswordKey($event)" type="password" class="form-control" placeholder="Password*" required="">
                </div>
                <div *ngIf="showToken" class="token" style="margin-top: 20px; margin-bottom: 20px;" class="form-group">
                    <input (keyup)="onRePasswordKey($event)" type="password" class="form-control" placeholder="Re-type Password*" required="">
                </div>

               <button [disabled]="isLoading" (click)="onSubmit()" type="submit" class="btn btn-primary submit ">{{submitText}}</button>
               <div *ngIf="!showToken" class="account-d">Don't have an account? <a routerLink="/signup">Sign Up</a></div>
                <div *ngIf="!showToken"  class="account-d">Rememeber you password?<a routerLink="/">Login</a></div>
               <div *ngIf="showToken" class="account-d">I didn't receive a token?<a id="resend" (click)="resend()" class="bottom-text">{{resendText}}</a></div>
               <div *ngIf="showToken" class="account-d">Want to update my email?<a id="resend" (click)="back()" class="bottom-text">Back to forgot password</a></div>
          </div>
        
      </div>
    </div>
    