<div id="wrapper">
    <!-- Navigation -->
       <app-navbar></app-navbar>
       <div id="page-wrapper">
       <div class="graphs">
        <div class="content_bottom">
            <h4>Activations</h4>
            <div class="col-md-12 span_3">
                 <div class="bs-example1" data-example-id="contextual-table">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>#</th>
                         <th>Date</th>
                         <th>Product Id</th>
                         <th>Activation Key</th>
                         <th>Method</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let activation of activations" class="{{getClass(activation)}}">
                         <th scope="row">{{activation.pos}}</th>
                         <td>{{activation.date_generated}}</td>
                         <td>{{activation.product_id}}</td>
                         <td>{{activation.activation_key}}</td>
                         <td>{{activation.method}}</td>
                       </tr>
                     </tbody>
                   </table>
                   <div *ngIf="isLoading" class="loader" id="loader-1"></div>
                   <div *ngIf="isEmpty" style="text-align: center;font-weight: 700;">You haven't made any activations</div>
                  </div>
              </div>
              <div class="clearfix"> </div>
       </div>
       <app-footer></app-footer>
      </div>
     <!-- /#page-wrapper -->
  </div>
