<div id="wrapper">
    <!-- Navigation -->
       <app-navbar></app-navbar>
       <div id="page-wrapper">
       <div class="graphs">
        <div class="md">
            <h3>Add Sales Outlet</h3>
        <div class="form-group">
            <div *ngIf="showSuccess" class="alert alert-success alert-dismissible show" role="alert">
                <strong>Hurray!</strong> Funds transferred successfully
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="color:rgb(255, 0, 0); font-size: 13px; font-style: oblique;">
                {{errorMessage}}
            </div>
            <div class="row">
                <div class="col-md-4 grid_box1">
                    <input  type="text" class="form-control1" placeholder="Full Name">
                </div>

                <div class="col-md-4 grid_box1">
                    <input  type="text" class="form-control1" placeholder="Location Name">
                </div>
            </div>

           <div style="margin-top: 10px;" class="row">
               <div class="col-md-4 grid_box1">
                   <input  type="text" class="form-control1" placeholder="User email">
               </div>
               <div class="col-md-4 grid_box1">
                    <input  type="number" class="form-control1" placeholder="Phone number">
                </div>

           </div>

           <div style="margin-top: 10px;" class="row">
            <div class="col-md-4 grid_box1">
                <select (change)="getStates($event)" class="form-control1" >
                    <option>Select Country</option>
                    <option *ngFor="let country of countries">{{country}}</option>
                </select>
            </div>

            <div class="col-md-4 grid_box1">
                <select class="form-control1" >
                    <option>Select State</option>
                    <option *ngFor="let state of states">{{state.name}}</option>
                </select>
            </div>
        </div>

        <div style="margin-top: 10px;" class="row">
            <div class="col-md-8 grid_box1">
                <input  type="text" class="form-control1" placeholder="Address">
            </div>
            <div class="clearfix"> </div>
        </div>

        <div style="margin-top: 10px;" class="row">
                <div class="col-md-4">
                    <button [disabled]="isLoading" (click)="onClick()" type="button" class="btn btn_5 btn-lg btn-warning warning_33">{{btnText}}</button>
                </div>
           </div>
        </div>
           </div>
        <div class="content_bottom">
       <div class="clearfix"> </div>
       </div>
       <app-footer></app-footer>
       </div>
      </div>
  </div>
